html, body{
    margin: 0;
}

.topBar{
/*    border: 1px black solid;*/
}

.AnitaMui{
    width: 100%;
    background-color: white;
    opacity: 0.95;
    position: fixed;
    top: 0;
    border: 1px black solid;
    padding: 12pt 0pt;
    text-align: center;
    z-index: 1;
}

.menuArrow{
    position: fixed;
    top: 20pt;
    left: 10pt;
    z-index: 3;
    transition: 0.6s;
    transition-timing-function: cubic-bezier(1,0,.32,1);
}

.menuArrow:hover .bar1,
.menuArrow:hover .bar2,
.menuArrow:hover .bar3{
    cursor: pointer;
    background-color: red;
}

.bar1{
    width: 35pt;
    height: 1pt;
    background-color: black;
    transition: 0.6s;
}

.bar2{
    width: 17pt;
    height: 1pt;
    background-color: black;
/*    transform: rotate(45deg) translate(2pt,5.3pt);*/
    transform: rotate(45deg) translate(9.6pt,-19.6pt);
    transition: 0.6s;
}

.bar3{
    width: 17pt;
    height: 1pt;
    background-color: black;
    transform: rotate(-45deg) translate(11.6pt,18pt);
    transition: 0.6s;
}

#menu{
    width: 100pt;
    height: 100%;
    border: 1px solid black;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.6s;
    background-color: white;
    z-index: 2;
}

#menu div{
    border-bottom:1px solid black;
}

#menu div a{
    display: block;
    text-align: center;
    padding: 13.5pt;
    transform: translateX(-100pt);
}

#menu div #menuMusic{
    transition: 0.2s;
    transition-timing-function: cubic-bezier(.39,.01,0,1);
}

#menu div #menuFilm{
    transition: 0.4s;
    transition-timing-function: cubic-bezier(.39,.01,0,1);
}

#menu div #menuLive{
    transition: 0.6s;
    transition-timing-function: cubic-bezier(.39,.01,0,1);
}

#menu div #menuInterview{
    transition: 0.8s;
    transition-timing-function: cubic-bezier(.39,.01,0,1);
}

#menu div #menuGallery{
    transition: 1s;
    transition-timing-function: cubic-bezier(.39,.01,0,1);
}

#menu div #menuContribute{
    transition: 1.2s;
    transition-timing-function: cubic-bezier(.39,.01,0,1);
}

.musicImageContainer{
    width:50%;
}

.musicImage{
    width: 100%;
    display: block;
}

.musicImageCaption{
    border: 1px black solid;
    border-bottom: 0px;
    padding: 8pt 10pt 10pt 10pt;
}

.introTextContainer{
    width: 33.333333%;
    display: inline-block;
}

.introText{
    padding: 10pt;
}

.musicContainer{
    display: flex;
    flex-wrap: wrap;
    border-right: 1px solid black;
    z-index: 0;
}

.homeMusicContainer{
    display: flex;
    flex-wrap: wrap;
}

.homeMusicHeader{
    width: 100%;
    border: 1px black solid;
    padding: 10pt;
}

.homeMusicTitle{
    width: 66.666667%;
    display: inline-block;
    font-size: 36pt;
}

.navArrow{
    display: inline-block;
    transform: translateY(-10pt) translateX(10pt);
}

.navArrowBar1{
    width: 35pt;
    height: 1pt;
    background-color: black;
}

.navArrowBar2{
    width: 17pt;
    height: 1pt;
    background-color: black;
    transform: rotate(45deg) translate(8pt,-19pt);
}

.navArrowBar3{
    width: 17pt;
    height: 1pt;
    background-color: black;
    transform: rotate(-45deg) translate(10pt,17pt);
}

.homeMusicContentContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border: 1px black solid;
    border-top: 0px;
    border-bottom: 0px;
}

.homeMusicContentContainer div{
    width: 16.666667%;
}

.homeMusicContentContainer div span{
    display: inline-block;
    padding: 10pt 0pt 10pt 10pt;
    margin: 0;
}

@media only screen and (max-width: 600px) {
    .homeMusicContentContainer div{
        width: 100%;
    }
    .homeMusicContentContainer div span{
        display: block;
    }
    .introImageContainer{
        width: 100%;
    }
    .introTextContainer{
        width: 100%;
        border: 1px black solid;
        border-bottom: 0px;
    }
    .introContainer{
        border: 0px;
    }
}